services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend